@CHARSET "UTF-8";
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  font-size: 16px;
}
/**/
#msg{
	color:red;
}

/**/
#role{
	margin-left:-20px;
}
#VerCode{
	float:left;
	width:150px;
}